<div class="header">
</div>

<div class="jumbotron">
  <h1>Welcome to watchmen</h1>
  <p class="lead">
    <img src="http://graph.facebook.com/{{auth.user.id}}/picture?type=large" alt="I'm Yeoman"><br>
    Hello, {{auth.user.first_name}} {{auth.user.name.givenName}}
  </p>
  <p ng-click="activateAlarm()"><a class="btn btn-lg btn-danger" ng-href="#">Activate Alarm!</a></p>
</div>

<div class="footer">
  <p>♥ from the watchmen team</p> 
  <button ng-click="logout()" class="btn btn-default btn-small">Logout</button>
</div>
